// common mixins imported from this file
@import "@cldcvr/flow-core/src/mixins/scss/mixins";

:host {
	// Important :  always include base mixins
	@include base();

	[data-hidden="true"] {
		display: none !important;
	}
	width: unset;
	flex: 1 0 auto;
	f-form {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex: 1 0 auto;
	}
}

f-form-builder {
	@include input-color("danger");

	flex-direction: column;
	align-items: stretch;
	overflow: auto;
}

f-form-group {
	f-button[name="remove_"] {
		align-self: center;
	}
}

f-div[direction="row"] {
	> f-form-builder {
		height: 100%;
	}
}
