// common mixins imported from this file
@import "@cldcvr/flow-core/src/mixins/scss/mixins";

:host {
  // Important :  always include base mixins
  @include base();

  [data-hidden="true"] {
    display: none !important;
  }
}

f-form-builder {
  @include input-color("danger");
}

f-form-group {
  f-button[name="remove_"] {
    align-self: center;
  }
}
