@import "@cldcvr/flow-core/src/mixins/scss/mixins";

/**
$gaps map hold gap attribute related values
**/
$gaps: (
  "none": 0px,
  "x-large": 24px,
  "large": 16px,
  "medium": 12px,
  "small": 8px,
  "x-small": 4px,
);

$states: (
  "primary": (
    "background": var(--color-primary-default),
    "hover": var(--color-primary-default-hover),
  ),
  "default": (
    "background": var(--color-primary-default),
    "hover": var(--color-primary-default-hover),
  ),
  "success": (
    "background": var(--color-success-default),
    "hover": var(--color-success-default-hover),
  ),
  "warning": (
    "background": var(--color-warning-default),
    "hover": var(--color-warning-default-hover),
  ),
  "danger": (
    "background": var(--color-danger-default),
    "hover": var(--color-danger-default-hover),
  ),
  "inherit": (
    "background": var(--color-checkbox-default),
    "hover": var(--color-switch-default-hover),
  ),
);

:host {
  .f-radio-group {
    @include base();
    display: flex;
    // iterating over gaps and appying respective css
    @each $gap, $value in $gaps {
      &[gap="#{$gap}"] {
        gap: $value;
      }
    }
    &[direction="vertical"] {
      flex-direction: column;
    }
    &[direction="horizontal"] {
      flex-direction: row;
    }
  }
}

f-radio-group {
  @each $state, $color in $states {
    &[state="#{$state}"] {
      @include input-color("danger");
    }
  }
}
