@use "sass:map";
// common mixins imported from this file
@import "@cldcvr/flow-core/src/mixins/scss/mixins";

:host {
	@include base();
	display: flex;
	flex: 1 0 auto;
	width: unset;
	align-items: flex-start;
	[data-hidden="true"] {
		display: none !important;
	}
}
f-div[direction="column"],
f-form-group[direction="vertical"] {
	> f-form-object {
		width: 100%;
	}
	> f-form-array {
		width: 100%;
	}
	> f-form-group {
		width: 100%;
	}
}
